<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!-- Maps API  -->
    <link rel="stylesheet" href="css/style.css">
    <title>Classyfi | StudyGroups</title>
</head>
<script>
    var map = null;
    var markers = [];
    let groups = [];

    function getGroups() {
        fetch('/groups/all', {
            method: 'GET',
            headers: {
                Accept: 'application/json',
                'Content-Type': 'application/json',
            },
        })
        .then(async (res) => {
            const resp = await res.json()
            groups = resp.groups;
            navigator.geolocation.getCurrentPosition(initMap);
        })
    }
    
    function initMap(position) {
        const currentPosition = {lat: 49.2664447, lng: -123.2521443};
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 16,
            center: currentPosition,
        });

        drop();

        function drop() {
            clearMarkers();

            for (let i = 0; i < groups.length; i++) {
                addMarkerWithTimeout(groups[i], i * 200);
            }}

            function addMarkerWithTimeout(group, timeout) {
            window.setTimeout(() => {
                markers.push(
                new google.maps.Marker({
                    position: {lat: group.latLong[0], lng: group.latLong[1]},
                    map: map,
                    title: group.groupName,
                    icon: {
                        url: '/assets/map-icon.png',
                        scaledSize: new google.maps.Size(50, 50),              
                    },
                    animation: google.maps.Animation.DROP,
                })
            )}, timeout);
            }

            function clearMarkers() {
                for (let i = 0; i < markers.length; i++) {
                    markers[i].setMap(null);
                }

                markers = [];
            }


        }
    getGroups();
</script>
<body>
    <div class="modal fade" id="roomModal" tabindex="-1" aria-labelledby="roomModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="roomModalLabel">Create Room</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action="/groups/create" method="post">
                <div class="mb-3">
                    <input type="text" class="form-control" name="groupName" placeholder="Room Name" autocomplete="off">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" name="groupDescription" placeholder="Room description" autocomplete="off">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" name="address" placeholder="Room Address" autocomplete="off">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" name="innerLocation" placeholder="Location Inside Building" autocomplete="off">
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn">Create</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    <div class="map-container">
        <div class="left">
            <div class="create-group">
                <button data-bs-toggle="modal" data-bs-target="#roomModal">Create Group</button>
            </div>
            <div class="search">
                <input type="text" id="searchbar" placeholder="Search Groups" >
            </div>
            <div class="groups">
                <% groups.forEach(group => { %>
                    <div class="group">
                        <div class="name">
                            <%= group.groupName %>
                        </div>
                        <div class="description">
                            <%= group.groupDescription %>
                        </div>
                    </div>
                <% }) %>
            </div>           
        </div>
        <div id="map">

        </div>
    </div>
    <!-- Bootstrap  -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBZQkUZ-cMj2cBEEylh3FeC_crWH_vrt8&callback=initMap&v=weekly"
      defer
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>