<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css3?family=Lexend+Deca&display=swap" rel="stylesheet">
    <title>Classyfi | Home</title>
</head>
<body>
    <nav>
        <a href="/">
            <div class="logo"></div>
        </a>
        <ul>
            <a href="/">
                <li>Home</li>
            </a>
            <a href="/auth/login" class="login">
                <li>Login</li>
            </a>
        </ul>
    </nav>

    <div class="main">
        <div class="heading">
            <h1>
                Classyfi
            </h1>
            <h2>
                Your go-to place to find study groups.
            </h2>
        </div>

        <div class="illus">

        </div>
    </div>
</body>
</html>