body{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: whitesmoke;
    font-family: 'Poppins', sans-serif;
}

#particles-js{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

::-webkit-scrollbar {
    width: 0.3vw;
}
  
::-webkit-scrollbar-track {
    background-color: #A3BAC3;
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb {
    background: #81898d;
    border-radius: 10px;
}

a{
    width: fit-content;
}

.main{
    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

footer{
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-a{
    color: black;
    text-decoration: underline;
}

.footer-a:hover{
    color: #81898d;
    text-decoration: underline;
}

.illus{
    height: 25vw;
    width: 25vw;
    background-image: url('/assets/reading.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: -6vw;
    margin-top: -2vw;
}

.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading h1{
    color: black;
    font-size: 7vw;
    font-weight: bolder;
    margin-bottom: 0.1vw;
}

.heading h2{
    color: black;
    font-weight: normal;
    margin-top: -1vw;
}

.home-btn{
    padding: 0.4vw 1.2vw;
}

.map-container{
    display: flex;
}

.map-container .left{
    padding-top: 1vw;
    height: 100vh;
    width: 24vw;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
}

.map-container #map{
    height: 100vh;
    width: 76vw;
}

.left .create-room{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: start;
    align-items: center;
}

.buttons2{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 22.8vw;
    padding: 0vw 1vw;
}

.btn-design{
    padding: 0.4vw 1vw;
    background-color: black;
    font-size: 0.9vw;
    color: white;
    border: none;
    border-radius: 50px;
}

.btn-design:hover{
    cursor: pointer;
}

.search{
    height: 10vh;
    margin-top: 1vw;
    margin-bottom: -1vw;
}

#searchbar{
    height: 5vh;
    width: 21.2vw;
    border-radius: 3px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.3);
    border: none;
    padding-left: 1vw;
    margin-left: 1vw;
}

#searchbar:focus{
    outline: none;
}

.groups{
    display: flex;
    flex-direction: column;
    height: 95vh;
    width: 24vw;
    overflow-y: scroll;
}

.group{
    width: 21.3vw;
    padding: 0.7vw;
    margin-left: 1vw;
    border-radius: 5px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.4);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    color: black;
    margin-bottom: 1vw;
    transition-duration: 0.5s;
}

.group:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

.group .name{
    font-size: 1.5vw;
    font-weight: bold;
    margin-bottom: 0.5vw;
}

.group .info{
    display: flex;
    justify-content: space-between;
}

.members{
    font-size: 1.2vw;
}

.description{
    width: 90%;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
}

.modal-content{
    background-color: white;
    border: none;
}

.form-control{
    border-radius: 3px;
}

.pac-container{
    z-index: 100000;
    border-radius: 8px;
}

.pac-item{
    padding: 0.5vw;
}

#backdrop{
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.6;
    position: absolute;
    z-index: 100;
    display: none;
    transition: all 0.5s;
}

#info-modal{
    position: absolute;
    width: 40vw;
    z-index: 200;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: none;
    border-radius: 3px;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    display: none;
    transition: all 0.5s;
}

#info-modal .headers{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 1vw;
}

#info-modal h3{
    font-size: 2vw;
    font-weight: bold;
}

#info-modal .close{
    font-size: 2vw;
    font-weight: bold;
    cursor: pointer;
}

.info-btn{
    padding: 0.6vw;
    background-color: #006989;
    color: white;
    border: none;
    border-radius: 3px;
}

.info-btn:hover{
    background-color: #004d6b;
    cursor: pointer;
}

nav{
    padding-top: 2vw;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5vw;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 12vw;
}

ul a{
    text-decoration: none;
}

.profile{
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
}

.profile-head{
    width: 100vw;
    display: flex;
    justify-content: center;
}

.profile-head h1{
    padding-top: 2vw;
    font-weight: 900;
}

.profile .left-side{
    margin-left: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
}

.profile .right-side{
    margin-right: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
}

.info-box{
    width: 30vw;
    height: 15vw;
    background-color: white;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.4);
    border-radius: 5px;
    display: flex;
    margin-top: 1vw;
}

.info-box .left{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1.3vw;
}

.info-box .pfp{
    height: 8vw;
    width: 8vw;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.info-box .username{
    text-align: center;
}

.info-box .right{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1.5vw;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20vw;
    margin-top: 2vw;
}

.leaderboard{
    height: 70vh;
    display: flex;
    justify-content: center;
    margin-top: 4vh;
    overflow-y: scroll;
}

table{
    text-align: center;
    width: 35vw;
    height: 10vh;
    border-collapse: collapse;
    font-size: 1vw;
    font-weight: 500;
}

table thead tr{
    background-color: black;
    text-align: center;
    color: white;
}

td,th{
    padding: 0.5vw;
}

tr:nth-child(even){
    background-color: #81898d;
}

.profile-group-info{
    display: flex;
    margin-top: 1vw;
    justify-content: space-evenly;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.4);
    align-items: center;
    width: 30vw;
    background-color: white;
    border-radius: 5px;
    padding: 0.5vw;
}

.profile-group-info form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}