body{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: #A3BAC3;
    font-family: 'Lexend Deca', sans-serif;
}

::-webkit-scrollbar {
    width: 0.3vw;
}
  
::-webkit-scrollbar-track {
    background-color: #A3BAC3;
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb {
    background: #81898d;
    border-radius: 10px;
}

nav{
    width: 100vw;
    height: 4.5vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #006989;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    margin-right: 13vw;
    margin-top: 1vw;
}


.logo{
    width: 10vw;
    height: 3.5vw;
    margin-top: 1vw;
    margin-left: 7vw;
    background: url('/assets/logo.jpeg') no-repeat;
}

nav a{
    padding: 0.6vw 1vw;
    text-decoration: none;
    list-style: none;
    color: white;
    font-weight: 600;
}

a:hover{
    cursor: pointer;
    text-decoration: none;
    color: white;
}

nav .login{
    background-color: #A3BAC3;
    color: black;
    border-radius: 0.5vw;
    padding: 0.6vw 1vw;
    margin-left: 1vw;
}

.main{
    display: flex;
    justify-content: space-around;
    padding-top: 6vw;
}

.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heading h1{
    color: black;
    font-size: 7vw;
    font-weight: bold;
    margin-bottom: 0.1vw;
    margin-top: -1vw;
}

.illus{
    height: 40vw;
    width: 40vw;
    padding-right: 5vw;
    background: url('/assets/illus1.png') no-repeat;
    background-position: center;
    background-size: cover;
}

.map-container{
    display: flex;
}

.map-container .left{
    padding-top: 1vw;
    height: 100vh;
    width: 23vw;
    background-color: #A3BAC3;
    display: flex;
    flex-direction: column;
}

.map-container #map{
    height: 100vh;
    width: 77vw;
}

.left .create-room{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: start;
    align-items: center;
}

.buttons2{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 22.8vw;
    padding: 0vw 1vw;
}

.btn-design{
    padding: 0.6vw;
    background-color: #006989;
    color: white;
    border: none;
    border-radius: 3px;
}

.btn-design:hover{
    background-color: #004d6b;
    cursor: pointer;
}

.search{
    height: 10vh;
    margin-top: 1vw;
    margin-bottom: -1vw;
}

#searchbar{
    height: 5vh;
    width: 21.2vw;
    border-radius: 3px;
    border: none;
    padding-left: 1vw;
    margin-left: 1vw;
}

#searchbar:focus{
    outline: none;
}

.groups{
    display: flex;
    flex-direction: column;
    height: 95vh;
    width: 24vw;
    overflow-y: scroll;
}

.group{
    width: 21.3vw;
    padding: 0.7vw;
    margin-left: 1vw;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #006989;
    color: white;
    margin-bottom: 1vw;
}

.group:hover{
    background-color: #004d6b;
    cursor: pointer;
}

.group .name{
    font-size: 1.5vw;
    font-weight: bold;
    margin-bottom: 0.5vw;
}

.group .info{
    display: flex;
    justify-content: space-between;
}

.modal-content{
    background-color: white;
    border: none;
}

.form-control{
    border-radius: 3px;
}

.pac-container{
    z-index: 100000;
    border-radius: 8px;
}

.pac-item{
    padding: 0.5vw;
}

#backdrop{
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.6;
    position: absolute;
    z-index: 100;
    display: none;
    transition: all 0.5s;
}

#info-modal{
    position: absolute;
    width: 40vw;
    z-index: 200;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: none;
    border-radius: 3px;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    display: none;
    transition: all 0.5s;
}

#info-modal .headers{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 1vw;
}

#info-modal h3{
    font-size: 2vw;
    font-weight: bold;
}

#info-modal .close{
    font-size: 2vw;
    font-weight: bold;
    cursor: pointer;
}

.info-btn{
    padding: 0.6vw;
    background-color: #006989;
    color: white;
    border: none;
    border-radius: 3px;
}

.info-btn:hover{
    background-color: #004d6b;
    cursor: pointer;
}

.profile{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 6vw;
}

.info-box{
    width: 30vw;
    height: 15vw;
    background-color: white;
    border-radius: 5px;
    display: flex;
}

.info-box .left{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1.3vw;
}

.info-box .pfp{
    height: 8vw;
    width: 8vw;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.info-box .username{
    text-align: center;
}

.info-box .right{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1.5vw;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20vw;
    margin-top: 1vw;
}

table{
    text-align: center;
    margin-top: 4vh;
    width: 64vw;
    height: 10vh;
    border-collapse: collapse;
    font-size: 1.2vw;
    font-weight: 500;
}

table thead tr{
    background-color: #004d6b;
    text-align: center;
    color: white;
}

td,th{
    padding: 0.5vw;
}

tr:nth-child(even){
    background-color: #81898d;
}

.profile-group-info{
    display: flex;
    margin-top: 1vw;
    justify-content: space-evenly;
    align-items: center;
    width: 30vw;
    background-color: white;
    border-radius: 5px;
    padding: 0.3vw;
}

.profile-group-info form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}